<div class="relative min-h-screen flex items-center justify-center bg-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
  style="background-image: url(https://plus.unsplash.com/premium_photo-1686090449192-4ab1d00cb735?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);"
>
	<div class="absolute bg-black opacity-60 inset-0 z-0"></div>
  <div class="w-full sm:w-6/12 h-[35rem] space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
    <%= form_with model: @loan_request, local: true, url: loan_requests_path do |form| %>
      <div class="flex flex-col">
        <div>
          <div class="mb-6">
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-green-500 rounded-full h-full" style="width: <%= progress_bar_width(@loan_request.current_step) %>"></div>
            </div>
            <div class="flex justify-between text-xs mt-2">
              <%= render_steps(@loan_request.current_step) %>
            </div>
          </div>

          <div class="text-center mb-8">
            <h2 class="mt-6 text-2xl font-bold">Loan Request</h2>
          </div>
          <%= render_step_form(form, @loan_request.current_step) %>
          <div class="mt-8 flex justify-between">
            <% if @loan_request.current_step != '1' %>
              <%= form.submit "Back", name: "back_button", class: "bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded" %>
            <% end %>
            <%= form.submit @loan_request.last_step? ? "Submit" : "Next", class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
