<!DOCTYPE html>
<html>
  <head>
    <title>LoanApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <main class="container-fluid mx-auto px-5 flex flex-col">
      <div class="container" data-controller="flash">
        <% flash.each do |key, message| %>
          <div class="flash <%= key %>">
            <%= message %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
